@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

#plugin-pre-loader {
  width: 48px;
  height: 48px;
  border: 5px solid #1976d2;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
}

.ct {
  z-index: 1201;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
